
/*Big tablet to 1200px (widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {
        padding: 0 2%;
    }
    
    .city-feature {
        font-size: 18px;
    }
    
    .works-step {
        margin-bottom: 40px;
    }
    
    .works-step:last-of-type {
        margin-bottom: 30px;
    }
    
    .plan-box ul {
        font-size: 18px;
    }
    
    .contact-form .row {
        padding: 0;
    }

}

/*Small tablets to big tablets from 768 to 1023 pixels*/
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    
    section {
        padding: 60px 0;
    }
    
    .long-copy {
        width: 80%;
        margin-left 10%;
    }
    
    .steps-box {
        margin-top: 10px;
    }
    
    .steps-box:last-of-type {
        margin-top: 90px;
    }
    
    .work-step {
        margin-bottom: 40px;
    }
    
    .works-step:last-of-type {
        margin-bottom: 80px;
    }
    
    .app-screen {
        width: 50%;
    }
    
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature {
        font-size: 80%;
    }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price {
        font-size: 250%;
    }
    
    .contact-form {
        width: 80%;
    }
    
    footer {
        padding: 30px;
    }
}

/*Phones to small tablets from 480 to 767 pixels*/
@media only screen and (max-width: 767px) {
   
    body {
        font-size: 20px;
    }
    
    section {
        padding: 30px 0;
    }
    
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav {
        display:none;
    }
    
    h1 {
        font-size: 180%;
    }
    
    h2 {
        font-size: 150%;
    }
    
    .long-copy {
        width: 100%;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    
    .section-features .col {
        margin: 0 0 2% 0;
    }
    
    .section-features h3 {
        text-align: center;
    }
    
    .icon-big {
        text-align: center;
    }
    
    .works-step {
        margin-bottom: 15px;
    }
    
    .works-step:first-child {
        margin-bottom: 30px;
    }
    
    .works-step:last-of-type {
        margin-bottom: 40px;
    }
    
    .works-step div {
        border: 2px solid #e67e22;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 4px;
        float: left;
        font-size: 120%;
        margin-right: 15px;
    }
    
    .works-step p {
        padding-top: 7.5px;
    }
    
    .steps-box:first-child {
        text-align: center;
        padding-right: 0;
    }
    
    .steps-box:last-of-type {
        margin-top: 28px;
    }
    
    .app-screen {
        width: 40%;
    }
    
    .btn-app img {
        display:block;
        margin: auto;
    }
    
    .section-cities h3 {
        font-size: 150%;
    }
    
    .city-feature {
        font-size: 120%;
        margin-bottom: 0;
    }
    
    .icon-small {
        width: 30px;
        margin-right: 10px;
    }
    
    footer {
        text-align: center;
        padding: 20px;
    }
    
    footer p {
        margin-top: 0;
    }
    
    .footer-nav {
        float: none;
    }
    .social-links {
        float: none;
    }
    
    .footer-nav li, .social-links li {
        margin-right: 10px;
    }
    
    
    
}

/*Small phones from 0 to 480 pixels*/
@media only screen and (max-width: 480px) {
    body {
        font-size: 18px;
    }
    
    section {
        padding: 25px 0;
    }
    
    .hero-text-box h1 {
        margin-top: 80px;
        margin-bottom: 40px;
    }
    
    header .btn {
        display: block;
        margin-bottom: 20px;
    }
    
    .section-features .long-copy {
        margin-bottom: 0px;
    }
    
    .section-features h3 {
        text-align: center;
    }
    
    .icon-big {
        text-align: center;
    }
    
    .steps-box:first-child {
        padding-right:0;
        margin-top: 0;
    }
          
    .steps-box:last-of-type {
        margin-top: 30px;
    }
    
    .works-step p {
        padding-left: 60px;
    }
    
    .works-step:first-child {
        margin-bottom: 15px;
    }
    
    .section-cities h3 {
        font-size: 140%;
    }
    
    .city-feature {
        font-size: 120%;
    }
    
    .icon-small {
        width: 30px;
        margin-right: 10px;
    }
    
    .contact-form {
        width: 100%;
    }
    
    footer {
        text-align: center;
        padding: 20px;
    }
    
    footer p {
        margin-top: 0;
    }
    
    .social-links {
        float: none;
    }
    
    .footer-nav li, .social-links li {
        margin-right: 10px;
    }
    
    
}